.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  background: white;
  padding: 20px;
  border-radius: 8px;
  min-width: 350px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

h3 {
  margin-bottom: 10px;
}

.buttonContainer {
  display: flex;
  gap: 1rem;
  margin-top: 10px;
  width: 100%;
}

.submitButton {
  background: rgb(249 178 120);
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}

.cancelButton {
  background: #dc3545;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 4px;
  cursor: pointer;
}
